:root {
  --color-bcg: #6cb5ff;
  --color-navbar: #5a7205;
  --color-sector: #d453b4;
  --color-accent:  #e7775a;
  --color-search: #62d122;
  --color-table-header: #2c2b2b;
  --color-table-record1: #3f3d3d;
  --color-table-record2: #575353;
  --color-text: #eff5f8;
  --color-text-darker: #c1c8cc;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-bcg);
  font-family:  "Roboto", sans-serif;
  color: var(--color-text);
}